<form action="/docs/<%= @doc_name %>/duplicate" method="post">
  <label for="dupe_name">Please enter the name for the duplicate file</label>
  <input name="dupe_name">
  <button>create duplicate</button>
</form>