<form action="/users/signup" method="post">
  <label for="username">Please enter a username</label>
  <input name="username">

  <br />

  <label for="password">Please enter a password</label>
  <input name="password">
  <button>Sign Up!</button>
</form>