<form action="/upload_image" method="post" enctype="multipart/form-data">
  <label for="file">Please choose an image to upload:</label>
  <input type="file" name="file">
  <input type="submit" value="upload">
</form>
